<div class="container">
    <br>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <img src="https://www.scnsoft.com/software-development-services/creating-inventory-management-system/creating-an-inventory-system_cover-upd.svg" class="card-img-top" alt="..." style="width:100px;height:100px;">
        <div class="card-body">
          <h5 class="card-title">Inventory System</h5>
          <p class="card-text">Get access to the Inventory System</p>
          <a href="http://192.168.0.52/" class="btn btn-primary" target="_blank">Inventory System</a>
        </div>
      </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img src="https://c.pxhere.com/images/44/db/63f8d6a1e62f21333d56cf679b29-1619641.jpg!d" class="card-img-top" alt="..." style="width:30%;height:100px;">
          <div class="card-body">
            <h5 class="card-title">Get Support</h5>
            <p class="card-text">Get In Contact with Reeds Support</p>
            <a href="https://reedssports.on.spiceworks.com/portal" class="btn btn-primary" target="_blank" >Get Support</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK5meuqsIgOGXlFS4dBb4rqpSzcEOdA2vnaw&usqp=CAU" class="card-img-top" alt="..." style="width:100px;height:100px;">
          <div class="card-body">
            <h5 class="card-title">Request A Device</h5>
            <p class="card-text">Reserve A Device Quickly And Easily</p>
            <a href="http://192.168.0.52/account/requestable-assets" class="btn btn-primary" target="_blank">Request Device</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>  
</div>


<script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>